[submodule "cs112-http-proxy"]
	path = cs112-http-proxy
	url = https://github.com/sgilfeather/cs112-http-proxy.git
[submodule "cs112-ftp"]
	path = cs112-ftp
	url = https://github.com/sgilfeather/cs112-ftp
